[Unit]
Description=Quasi Skills Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/scrapper
Restart=always
RestartSec=1s
# User=scrapper
# WorkingDirectory=/var/lib/scrapper

[Install]
WantedBy=multi-user.target
